.textarea[rows="1"] {
  height: 2.5rem;
  line-height: 1rem;
}

.label-input-search {
  position: relative;
}

.label-input-search svg,
.label-input-search i.fa {
  position: absolute;
  top: 50%;
  right: 1rem;
}

.input-value {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4px;
  border: 1px solid #ccc;
  height: 29px;
  background: #f8f8f8;
  border-radius: 5px;
}

.button-remove {
  border: none;
  // height: 23px;
  border-radius: 3px;
  cursor: pointer;
}

.input-search-container {
  position: relative;
}

.search-results {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 100%;
  left: 0;
  padding-bottom: 16px;
}

.search-results .search-results-container {
  max-height: 250px;
  overflow: auto;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 4px 4px #ccc;
}

.search-result-item {
  padding: 6px;
  cursor: pointer;
  &:hover {
    background-color: #f8f8f8;
  }
}

.search-result-item.is-highlighted {
  background-color: #f0f0f0;
  text-decoration: underline;
}

.input .date-time-field input {
  border: none !important;
  background-color: transparent !important;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
}
