// Quill Mention Styling
.ql-mention-list-container {
  max-height: 250px;
  overflow: auto;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 4px 4px #ccc;

  .ql-mention-list {
    margin: 0.5rem 0;
    list-style: none;
  }

  .ql-mention-list-item {
    padding: 6px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    
    &:hover {
      background-color: #f8f8f8;
    }

    &.selected {
      background-color: #f0f0f0;
      text-decoration: underline;
    }
  }
}
