html {
  height: 100%;
  font-size: 14px !important;
  overflow: hidden;
  font-weight: 300;
  font-style: normal;
}

body {
  height: 100%;
}
/*
.button {
  // border-radius: 4px;
  // height: 32px;
  // font-size: 13px;
  // font-weight: 400;
  // padding: 8px 16px;
  // min-width: 80px;
  // width: auto;
  // overflow: hidden;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .05s linear;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.06);
  }
}
*/
.button-firefox-primary {
  color: white;
  background-color: #0060df;
  &:hover {
    background-color: #003eaa;
  }

  &:active {
    background-color: #002275;
    box-shadow: 0px 0px 0px 2px rgba(0,96,223,.3);
  }
}

.button-firefox-default {
  color: #0c0c0d;
  background-color: rgba(12, 12, 13, 0.1);
}

/*
.button.is-ghost {
  color: #606060;
  background: transparent;
}
*/

.button.is-addon {
  background: #eee;
  height: 35px;
  font-size: 18px;
  width: 35px;
  padding: 0;
  min-width: 35px;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Fonts */
.f-secondary {
  font-family: 'Roboto', sans-serif;
}
/* ----- */

::placeholder,
::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder, /* IE 10+ */
:-moz-placeholder { /* Firefox 18- */
  color: #aaa !important;
}

.w-340px {
  width: 340px;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.p-1 {
  padding: .25rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 2.5rem;
}

.pr-2 {
  padding-right: .5rem;
}

.m-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.bg-gray-200 {
  background-color: #F3F3F3;
}

.bg-white {
  background-color: #fff;
}

.is-rounded {
  border-radius: 100%;
}

.is-24x24 {
  width: 24px;
  height: 24px;
}

.has-zindex-1 {
  z-index: 1;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.has-auto-scroll {
  overflow: auto;
}

.has-vertical-scroll {
  overflow-y: scroll;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.label:not(:last-child) {
  margin-bottom: 0;
}

.header-title-line .button + * {
  margin-left: .25rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: visible;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 8px #e8e8e8;

  &.table-conversible > .table {
    border-radius: 8px;
  }

  .card-footer {
    background-color: #fafafa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #DADADA;
}

.subform {
  border-radius: .25rem;
  background-color: #f1f1f1;
  border: 2px solid #DADADA;

  .subform-footer {
    background-color: #fafafa;
    padding: 1rem;
  }

  .subform-column-wrapper {
    border-radius: .25rem;
    background-color: #fff;
    padding: .75rem;

    & + .subform-column-wrapper {
      margin-top: .5rem;
    }

    .action-bar {
      background-color: #fafafa;
    }
  }
}

.helper-text-icon {
  cursor: pointer;
  display: inline-block;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 16px;
}

.model-icon {
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

h1 {
  font-weight: bold !important;
  font-size: 2rem !important;
}

h2 {
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

.gap-2 {
  gap: .5rem;
}
