<script lang="ts">
  import { getLabel } from "../../../utils/view-helper";
  import { destroy } from "../../../utils/request";
  import { labels, deleteRecordModal } from "../../../store";

  let deleting = false;

  async function confirmDelete() {
    await deleteItem($deleteRecordModal.id, $deleteRecordModal.modelName);
    closeModalDelete();
  }

  async function deleteItem(id: string, modelName: string) {
    deleting = true;
    try {
      await destroy(`/data/${id}`, null, { Model: modelName });
      window.postMessage({ type: "deleteFinished", id });
    } catch (e) {
      console.error(e);
    }
    deleting = false;
  }

  function showConfirmDelete(id: string, modelName: string) {
    deleteRecordModal.set({
      ...$deleteRecordModal,
      isActive: true,
      id,
      modelName,
    });
  }

  function closeModalDelete() {
    deleteRecordModal.set({
      ...$deleteRecordModal,
      isActive: false,
      id: null,
    });
    window.postMessage({ type: "deleteCanceled" });
  }

  window.onmessage = function ({ data }) {
    if (data && data.type === "showConfirmDelete") {
      showConfirmDelete(data.id, data.modelName);
    }
  };
</script>

<div
  class="modal modal-fx-fadeInScale {$deleteRecordModal.isActive
    ? 'is-active'
    : ''}"
>
  <div class="modal-background" />
  <div class="modal-content">
    <header class="modal-card-head">
      <p class="modal-card-title" style="max-width: 94%;">
        {$labels && getLabel("confirmRecordDelete")}
      </p>
      <button class="delete" aria-label="close" on:click={closeModalDelete} />
    </header>

    <!-- <section class="modal-card-body"></section> -->
    <footer class="modal-card-foot is-justify-content-center">
      <button type="button" class="button" on:click={closeModalDelete}>
        {$labels && getLabel("cancel")}
      </button>
      <button
        type="button"
        class="button is-danger {deleting ? 'is-loading' : ''}"
        disabled={deleting}
        on:click={confirmDelete}
      >
        {$labels && getLabel("confirm")}
      </button>
    </footer>
  </div>
</div>
