<script>
  import { buildURL, getInitials, getLabel } from "../../../utils/view-helper";
  import { user, labels, notifications, fileStoragePath } from "../../../store";
  import { get, put } from "../../../utils/request";
  import Loading from "../../../components/Loading.svelte";
  import { format, formatDistance } from "date-fns";
  import en from "date-fns/locale/en-US/index.js";
  import pt_BR from "date-fns/locale/pt-BR/index.js";

  let isActive = false;
  let unreadNotifications = 0;
  let userId;
  let isLoading = false;
  let page = 1;
  let hasLoadedAll = false;

  $: if ($user && !userId) {
    userId = $user.id;
    loadNotifications();
    setInterval(() => {
      page = 1;
      loadNotifications(false);
    }, 60 * 1000);
  }

  async function loadNotifications(showLoading = true) {
    if (showLoading) {
      isLoading = true;
    }

    const limit = 15;

    const { data } = await get(
      "/data",
      {
        include: ["OriginModel"],
        where: {
          AND: [
            { name: "TargetUserId", criteria: "eq", value: "_SessionUserId_" },
            { name: "OrganizationId", criteria: "eq", value: null },
          ],
        },
        page,
        limit,
        order: [["createdAt", "DESC"]],
      },
      { Model: "Notification" }
    );

    // console.log({data});
    isLoading = false;
    hasLoadedAll = data.result.length < limit;

    let result = [];
    if (page > 1) {
      result = [...$notifications];
    }

    notifications.set([...result, ...data.result]);

    unreadNotifications = $notifications.filter((n) => !n.read).length;
  }

  function openNotification(notification, index) {
    if (!notification.read) {
      put(
        `/data/${notification.id}`,
        { read: true },
        { Model: "Notification" }
      );

      const updated = $notifications;
      updated[index].read = true;
      notifications.set(updated);
    }

    if (notification.link) {
      // window.location.href = notification.link;
      window.open(notification.link, '_blank');
    }
  }

  function loadMore() {
    page++;
    loadNotifications();
  }
</script>

<div class="dropdown mx-1 is-right {isActive ? 'is-active' : ''}">
  <div class="dropdown-trigger" on:click={() => (isActive = !isActive)}>
    <button
      class="button is-relative"
      aria-haspopup="true"
      title={getLabel("Notifications")}
    >
      <span class="icon">
        <i class="fas fa-bell" aria-hidden="true" />
      </span>
    </button>

    {#if unreadNotifications > 0}
      <span class="badge has-background-danger" />
    {/if}
  </div>

  <div class="dropdown-menu" role="menu">
    <div class="dropdown-content notification-menu-content">
      <div class="dropdown-item">
        <p class="is-size-5">
          {getLabel("Notifications")}
          {unreadNotifications ? " (" + unreadNotifications + ")" : ""}
        </p>
      </div>

      {#if isLoading}
        <div class="dropdown-item">
          <Loading shown={true} />
        </div>
      {/if}

      {#each $notifications as notification, index}
        {#if notification.link}
          <div
            class="dropdown-item notification-item {!notification.read
              ? 'notification-item-unread'
              : ''}"
            style="cursor: pointer;"
            on:click|preventDefault={() =>
              openNotification(notification, index)}
          >
            <div class="flex is-align-items-center">
              {#if notification.CreatedByUser.PhotoFile}
                {@const fileURL = buildURL(
                  `${$fileStoragePath || ""}/${
                    notification.CreatedByUser.PhotoFile.id
                  }/${notification.CreatedByUser.PhotoFile.label}`
                )}
                <div
                  class="is-rounded is-24x24 mr-2 has-text-centered is-flex-shrink-0"
                >
                  <div>
                    <figure class="image">
                      <img src={fileURL} alt="" class="is-rounded" />
                    </figure>
                  </div>
                </div>
              {:else}
                <div
                  class="primary-gradient is-rounded is-24x24 mr-2 has-text-centered is-flex-shrink-0"
                >
                  <div class="user-menu-initials">
                    {getInitials(notification.CreatedByUser.name)}
                  </div>
                </div>
              {/if}

              <div>
                {@html notification.content}
              </div>
            </div>
            <div class="has-text-right">
              <small
                >{formatDistance(new Date(notification.createdAt), new Date(), {
                  addSuffix: true,
                  locale: $user.Language.abbr === "pt_BR" ? pt_BR : en,
                })}</small
              >
            </div>
          </div>
        {:else}
          <div
            class="dropdown-item notification-item {!notification.read &&
              'notification-item-unread'}"
            on:click={($ev) => openNotification(notification, index)}
          >
            {notification.content}
            <br />
            <span class="notification-date">
              {format(new Date(notification.createdAt), "dd/MM/yyyy' 'HH:mm")}
            </span>
          </div>
        {/if}
      {:else}
        <div class="dropdown-item">
          <p>No new notifications</p>
        </div>
      {/each}

      {#if !hasLoadedAll}
        <hr class="dropdown-divider" />

        <a href="#/" class="dropdown-item" on:click|preventDefault={loadMore}>
          {$labels && getLabel("loadMore")}
        </a>
      {/if}
    </div>
  </div>
</div>

<style>
  .badge {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 100%;
  }

  .notification-menu-content {
    width: 400px;
  }

  .notification-item + .notification-item {
    border-top: 1px solid #eee;
  }

  .notification-item-unread {
    font-size: 13px;
    background: #f6f6f6;
  }

  .notification-item .notification-date {
    font-size: 12px;
    color: #888;
  }
</style>
