<script>
  import {
    user,
    isSessionEmulated,
    authToken,
    views,
    labels,
    organizations,
    currentOrganization,
    fileStoragePath,
  } from "../../../store";
  import { push, location } from "svelte-spa-router";
  import {
    getLabel,
    buildURL,
    getInitials,
    loadDropdownTriggers,
  } from "../../../utils/view-helper";
  import { destroy, post } from "../../../utils/request";
  import NavbarNotification from "./NavbarNotification.svelte";

  // let modalClass = ''
  let groupedViews = {};

  let isNavbarActive = false;
  let isUserMenuActive = false;
  let isSetupMenuActive = false;
  let isOrganizationMenuActive = false;
  let navHighlight;

  function logout($event) {
    $event.preventDefault();
    user.set(null);
    isSessionEmulated.set(null);
    authToken.set(null);
    localStorage.removeItem("user");
    localStorage.removeItem("authToken");
    localStorage.removeItem("currentOrganizationId");
    push("/login");
  }

  function changeDefaultOrganization(organizationId) {
    isOrganizationMenuActive = !isOrganizationMenuActive;
    localStorage.setItem("currentOrganizationId", organizationId);
    post("changeOrganization", { organizationId }).then(() => {
      window.location.reload();
    });
  }

  loadDropdownTriggers();

  $: if ($views) {
    groupedViews = {};
    $views.forEach((view) => {
      if (!view.showOnMenu || !view.MenuSection) {
        return;
      }

      if (!groupedViews[view.MenuSection.labelKey]) {
        groupedViews[view.MenuSection.labelKey] = [];
      }

      groupedViews[view.MenuSection.labelKey].push(view);
    });
  }

  function endSessionEmulate() {
    destroy(
      `/data/${$isSessionEmulated}`,
      {},
      { Model: "UserSessionEmulate" }
    ).then(() => window.location.reload());
  }
</script>

{#if $isSessionEmulated && $user}
  <div
    class="session-emulate-info flex is-justify-content-center is-align-items-center"
    style="background-color: #9e3ffd; color: #fff; text-align: center; padding: 8px;"
  >
    You are logged in as {$user.name}
    <button
      class="button is-ghost ml-2"
      style="color: #fff;"
      on:click={endSessionEmulate}>End session emulate</button
    >
  </div>
{/if}

<nav class="navbar flex-column">
  <div class="flex items-center is-justify-content-space-between">
    <div class="flex is-align-items-center">
      <a
        href="#/"
        role="button"
        class="navbar-burger {isNavbarActive ? 'is-active' : ''}"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        on:click|preventDefault={() => (isNavbarActive = !isNavbarActive)}
      >
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </a>

      <div class="navbar-brand has-text-weight-bold">GAIA</div>
    </div>

    <!-- <div class="search-bar-container">
      <p class="control has-icons-right">
        <input type="text" class="input" placeholder="Search..." />
        <span class="icon is-small is-right">
          <i class="fas fa-search" />
        </span>
      </p>
    </div> -->

    <div class="flex is-align-items-center">
      {#if $organizations}
        <!-- organization -->
        <div
          class="dropdown mx-1 is-right {isOrganizationMenuActive
            ? 'is-active'
            : ''}"
        >
          <div
            class="dropdown-trigger"
            on:click={() =>
              (isOrganizationMenuActive = !isOrganizationMenuActive)}
          >
            <button class="button" aria-haspopup="true" title="Organization">
              <span class="icon">
                <i class="fas fa-building" aria-hidden="true" />
              </span>
              <!-- <span class="is-hidden-touch">Org</span>
              <span class="icon is-small is-hidden-touch">
                <i class="fas fa-angle-down" aria-hidden="true" />
              </span> -->
            </button>
          </div>

          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {#each $organizations as item}
                <a
                  href="#/"
                  class="dropdown-item {item.OrganizationId ===
                  $currentOrganization
                    ? 'is-active'
                    : ''}"
                  on:click|preventDefault={() =>
                    changeDefaultOrganization(item.OrganizationId)}
                >
                  {$labels && getLabel(item.Organization.name)}
                </a>
              {/each}
            </div>
          </div>
        </div>
      {/if}

      {#if $user && $user.Role.level === 1}
        <!-- setup is-hidden-touch -->
        <div
          class="dropdown mx-1 is-right {isSetupMenuActive ? 'is-active' : ''}"
        >
          <div
            class="dropdown-trigger"
            on:click={() => {
              isSetupMenuActive = !isSetupMenuActive;
              isNavbarActive = false;
            }}
          >
            <button class="button" aria-haspopup="true" title="Setup">
              <span class="icon">
                <i class="fas fa-cog" aria-hidden="true" />
              </span>
              <!-- <span class="is-hidden-touch ml-1">Setup</span> -->
            </button>
          </div>

          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {#if groupedViews.SetupMenuSection}
                {#each groupedViews.SetupMenuSection as item}
                  <a
                    href="#{item.slug}"
                    class="dropdown-item {`${item.slug}` === $location
                      ? 'is-active'
                      : ''}"
                    on:click={() => (isSetupMenuActive = !isSetupMenuActive)}
                  >
                    {getLabel(item.labelKey)}
                  </a>
                {/each}
              {/if}
            </div>
          </div>
        </div>
      {/if}

      <NavbarNotification />

      {#if $user}
        <!-- user menu  is-hidden-touch -->
        <div
          class=" dropdown is-right mx-1 {isUserMenuActive ? 'is-active' : ''}"
        >
          <div
            class="dropdown-trigger"
            on:click={() => (isUserMenuActive = !isUserMenuActive)}
          >
            {#if $user.PhotoFile}
              {@const fileURL = buildURL(
                `${$fileStoragePath || ""}/${$user.PhotoFile.id}/${
                  $user.PhotoFile.label
                }`
              )}
              <div class="user-menu">
                <div>
                  <figure class="image is-40x40">
                    <img src={fileURL} alt="" class="is-rounded" />
                  </figure>
                </div>
              </div>
            {:else}
              <div class="user-menu primary-gradient">
                <div class="user-menu-initials">
                  {getInitials($user.name)}
                </div>
              </div>
            {/if}
          </div>

          <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a
                href="#/user_view/{$user.id}"
                class="dropdown-item"
                on:click={() => (isUserMenuActive = !isUserMenuActive)}
                >{$labels && getLabel("profile")}</a
              >

              <hr class="dropdown-divider" />

              <a
                href="#/"
                class="dropdown-item"
                on:click|preventDefault={logout}
              >
                {$labels && getLabel("logout")}
              </a>
            </div>
          </div>
        </div>
      {/if}
    </div>
  </div>

  <div class="navbar-menu {isNavbarActive ? 'is-active' : ''}">
    <div class="flex items-center">
      {#if groupedViews.PrimaryMenuSection}
        {#each groupedViews.PrimaryMenuSection as item}
          <a
            href="#{item.slug}"
            class={item.slug === $location ? "is-active" : ""}
            on:click={() => (isNavbarActive = false)}
          >
            {getLabel(item.labelKey)}
          </a>
        {/each}
      {/if}

      <!-- <div class="is-hidden-desktop">
        {#if $user && $user.Role.level === 1}
          {#if groupedViews.SetupMenuSection}
            <hr class="dropdown-divider" />

            {#each groupedViews.SetupMenuSection as item}
              <a
                href="#{item.slug}"
                class="dropdown-item {`${item.slug}` === $location
                  ? 'is-active'
                  : ''}"
                on:click={() => (isSetupMenuActive = !isSetupMenuActive)}
              >
                {getLabel(item.labelKey)}
              </a>
            {/each}
          {/if}
        {/if}

        <hr class="dropdown-divider" />

        <a href="#/user_form/{$user ? $user.id : ''}"
          >{$labels && getLabel("profile")}</a
        >

        <hr class="dropdown-divider" />
        <a href="#/" on:click|preventDefault={logout}>
          {$labels && getLabel("logout")}
        </a>
      </div> -->
    </div>
  </div>

  <div class="navbar-background" />
</nav>
