<script>
  import Tooltip from "./Tooltip.svelte";
  import { getLabel } from "../utils/view-helper";

  export let field;
  export const customName = null;
</script>

<div class="flex">
  <label
    class="label flex-grow"
    for={customName || `field_${field.ModelField.name}`}
    title={getLabel(field)}
  >
    {getLabel(field)} {field.required ? "*" : ""}
  </label>

  {#if field.helperTextLabelKey}
    <Tooltip content={getLabel(field.helperTextLabelKey)} />
  {/if}
</div>
