<script lang="ts">
  import { format } from "date-fns";
  import { views, fileStoragePath } from "../store";
  import { get } from "../utils/request";
  import filterFunctions from "../utils/filters";
  import { buildURL, getInitials, getLabel } from "../utils/view-helper";

  export let field;
  export let view;
  export let data;
  export let index = 0;
  export let showAccessLink = false;
  let fileData = null;

  function getRelationName(item, field) {
    const desc = field.descriptionColumn || "name";
    const targetModel =
      field.ModelField.targetModelAlias || field.ModelField.targetModel;

    if (item[targetModel] === undefined) {
      console.warn(`Relation ${targetModel} should be included in the query`);
      return "";
    }

    if (item[targetModel] === null) {
      return "";
    }

    if (desc === "labelKey") {
      return getLabel(item[targetModel][desc] || "");
    }

    return item[targetModel][desc] || "";
  }

  function getManyRelationName(item, field) {
    const desc = field.descriptionColumn || "name";
    return item[desc] || "";
  }

  function formatDateTime(value: string, showTime = false) {
    const date = new Date(value);
    if (date.toString() === "Invalid Date" || !value) {
      return "";
    }

    if (showTime) {
      return format(date, "dd/MM/yyyy HH:mm");
    } else {
      return format(date, "dd/MM/yyyy");
    }
  }

  function formatDecimal(value, field) {
    const options: Intl.NumberFormatOptions = {};
    if (field && field.format === "currency") {
      options.style = "currency";
      options.currency = "BRL";
    }

    return (value * 1).toLocaleString("pt-br", options);
  }

  function mountURL(field, data) {
    const showView = $views.find(
      (v) =>
        v.Model.name === field.ModelField.targetModel && v.type === "ShowView"
    );

    if (!showView) {
      return null;
    }

    return `#${showView.slug}/${data[field.ModelField.name]}`;
  }

  async function loadFileData() {
    const res = await get(
      `/data/${data[field.ModelField.name]}`,
      {},
      { Model: "File" }
    );
    fileData = res.data.result;
  }

  $: if (
    field.ModelField.type === "file" &&
    data &&
    data[field.ModelField.name]
  ) {
    loadFileData();
  }
</script>

<!-- <pre>{JSON.stringify(field)}</pre> -->

{#if field.ModelField.type === "belongsTo"}
  {@const url = mountURL(field, data)}
  {@const descriptionField = field.ModelField.name || "name"}
  <div class="flex is-align-items-center">
    {#if field.ModelField.targetModel === "User" && data[descriptionField]}
      {#if data[descriptionField].PhotoFile}
        {@const fileURL = buildURL(
          `${$fileStoragePath || ""}/${
            data[descriptionField].PhotoFile.id
          }/${data[descriptionField].PhotoFile.label}`
        )}
        <div class="user-menu mr-2">
          <div>
            <figure class="image is-24x24">
              <img src={fileURL} alt="" class="is-rounded" />
            </figure>
          </div>
        </div>
      {:else}
        <div
          class="user-menu primary-gradient mr-2"
          style="width: 24px; height: 24px;"
        >
          <div class="user-menu-initials" style="font-size: 12px;">
            {getInitials(getRelationName(data, field))}
          </div>
        </div>
      {/if}
    {/if}

    {#if url}
      <a href={mountURL(field, data)}>{getRelationName(data, field)}</a>
    {:else}
      {getRelationName(data, field)}
    {/if}
  </div>
{:else if field.ModelField.type === "hasMany"}
  {data[field.ModelField.name]
    .map((i) => getManyRelationName(i, field))
    .join(", ")}
{:else if field.ModelField.type === "string"}
  {#if field.mask}
    {filterFunctions[field.mask](data[field.ModelField.name] || "")}
  {:else if field.ModelField.selectOptions}
    {getLabel(data[field.ModelField.name], true) || ""}
  {:else if index <= 2 && showAccessLink && view.slug}
    <a href={`#${view.slug}_view/${data.id}`}
      >{data[field.ModelField.name] || ""}</a
    >
  {:else}
    {data[field.ModelField.name] || ""}
  {/if}
{:else if field.ModelField.type === "text"}
  {#if field.mask}
    {filterFunctions[field.mask](data[field.ModelField.name] || "")}
  {:else}
    {data[field.ModelField.name] || ""}
  {/if}
{:else if field.ModelField.type === "boolean"}
  <input type="checkbox" checked={data[field.ModelField.name]} disabled />
{:else if field.ModelField.type === "date"}
  {formatDateTime(data[field.ModelField.name])}
{:else if field.ModelField.type === "datetime"}
  {formatDateTime(data[field.ModelField.name], true)}
{:else if field.ModelField.type === "integer"}
  {data[field.ModelField.name] || ""}
{:else if field.ModelField.type === "decimal"}
  {formatDecimal(data[field.ModelField.name], field)}
{:else if field.ModelField.type === "json"}
  <pre>{JSON.stringify(data[field.ModelField.name])}</pre>
{:else if field.ModelField.type === "richText"}
  <div class="content">
    {@html data[field.ModelField.name]}
  </div>
{:else if field.ModelField.type === "file"}
  {#if fileData}
    {@const fileURL = buildURL(
      `${$fileStoragePath || ""}/${fileData.id}/${fileData.label}`
    )}
    <div class="flex is-align-items-center file-thumb mr-2">
      <span class="mr-2">
        <a
          href={fileURL}
          target="_blank"
          class="image is-24x24 has-text-centered is-clipped"
          style="font-size: 18px;"
          rel="noreferrer"
        >
          {#if fileData.mimetype.startsWith("image")}
            <img
              src={fileURL}
              title={fileData.label}
              alt={fileData.label}
              width="100%"
              style="max-height: 100%;"
            />
          {:else if fileData.mimetype.includes("zip") || fileData.mimetype.includes("compressed")}
            <i class="fa-solid fa-file-zipper" />
          {:else if fileData.mimetype.includes("pdf")}
            <i class="fa-solid fa-file-pdf" />
          {:else}
            <i class="fa-solid fa-file" />
          {/if}
        </a>
      </span>

      <a
        href={fileURL}
        target="_blank"
        rel="noreferrer"
        class="flex-grow is-clipped"
      >
        <span class="file-label" title={fileData.label}>{fileData.label}</span>
      </a>

      <span>
        <slot name="action-button" />
      </span>
    </div>
  {/if}
{:else}
  Name: {field.ModelField.name}
{/if}
