<script>
  import "quill/dist/quill.core.css";
  import "quill/dist/quill.snow.css";
  import "quill-mention/dist/quill.mention.css";
  import Quill from "quill";
  import "quill-mention";
  import { onMount } from "svelte";
  import { createEventDispatcher } from "svelte";
  import { get } from "../utils/request";

  export let value;
  export let enableMentions = false;
  export let minHeight = null;

  const dispatch = createEventDispatcher();
  let editor;

  const toolbarOptions = [
    ["bold", "italic", "underline", "strike"], // toggled buttons
    ["blockquote", "code-block", "link"],

    [{ list: "ordered" }, { list: "bullet" }],
    [{ script: "sub" }, { script: "super" }], // superscript/subscript
    [{ indent: "-1" }, { indent: "+1" }], // outdent/indent

    // [{ size: ["small", false, "large", "huge"] }], // custom dropdown
    [{ header: [1, 2, 3, 4, 5, 6, false] }],

    [{ color: [] }, { background: [] }], // dropdown with defaults from theme
    // [{ font: [] }],
    [{ align: [] }],

    ["clean"], // remove formatting button
  ];

  async function suggestUsers(searchTerm) {
    const { data } = await get(
      "/data",
      {
        limit: 15,
        where: {
          AND: [{ name: "name", criteria: "iLike", value: `%${searchTerm}%` }],
        },
      },
      { Model: "User" }
    );

    return data.result.map((user) => ({
      id: user.id,
      value: user.name,
      link: "#/user_view/" + user.id,
    }));
  }

  /*
  function mentionHovered(event) {
    console.log("hovered: ", event);
  }

  function mentionClicked(event) {
    console.log("clicked: ", event);
  }
  */

  onMount(() => {
    const modules = {
      toolbar: toolbarOptions,
    };

    if (enableMentions) {
      modules.mention = {
        allowedChars: /^[A-Za-z\sÅÄÖåäöáãéêíõó]*$/,
        mentionDenotationChars: ["@"],
        source: async function (searchTerm, renderList) {
          const matchedUsers = await suggestUsers(searchTerm);
          renderList(matchedUsers);
        },
      };
    }

    const options = {
      debug: "error",
      theme: "snow",
      modules,
    };

    const quill = new Quill(editor, options);

    function insertImage(file, textIndex = 0) {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function () {
        const ops = [];
        if (textIndex > 0) {
          ops.push({ retain: textIndex });
        }

        ops.push({
          insert: {
            image: reader.result,
          },
          attributes: {
            alt: file.name,
          },
        });

        quill.updateContents(ops);
        quill.setSelection(textIndex + 1, 0);
      };
      reader.onerror = function (error) {
        console.log("Error on parse file: ", error);
      };
    }

    function fileHandler($ev) {
      const cursorIndex = quill.selection.savedRange
        ? quill.selection.savedRange.index + quill.selection.savedRange.length
        : 0;

      let files = [];
      if ($ev.constructor.name === "ClipboardEvent") {
        files = $ev.clipboardData.files;
      } else if ($ev.constructor.name === "DragEvent") {
        files = $ev.dataTransfer.files;
      }

      if (files.length) {
        $ev.preventDefault();
      }

      for (let file of files) {
        if (file.type.match("image/") !== null) {
          insertImage(file, cursorIndex);
        }
      }
    }

    quill.clipboard.addMatcher(Node.TEXT_NODE, function (node, delta) {
      var regex = /https?:\/\/[^\s]+/g;
      if (typeof node.data !== "string") return;
      var matches = node.data.match(regex);

      if (matches && matches.length > 0) {
        var ops = [];
        var str = node.data;
        matches.forEach(function (match) {
          var split = str.split(match);
          var beforeLink = split.shift();
          ops.push({ insert: beforeLink });
          ops.push({ insert: match, attributes: { link: match } });
          str = split.join(match);
        });
        ops.push({ insert: str });
        delta.ops = ops;
      }

      return delta;
    });

    quill.on("text-change", function () {
      dispatch("change", quill.root.innerHTML);
    });

    quill.root.addEventListener("drop", fileHandler);
    quill.root.addEventListener("paste", fileHandler);

    // window.addEventListener("mention-hovered", mentionHovered, false);
    // window.addEventListener("mention-clicked", mentionClicked, false);

    if (minHeight) {
      quill.root.style = `min-height: ${minHeight}px`;
    }

    if (value) {
      quill.root.innerHTML = value;
    }

    quill.focus();
  });

  // onDestroy(() => {
  // window.removeEventListener("mention-hovered", mentionHovered);
  // window.removeEventListener("mention-clicked", mentionClicked);
  // });
</script>

<div bind:this={editor} style={minHeight ? `min-height: ${minHeight}px` : ""} />
