<script>
  import { format } from "date-fns";
  import RichText from "../../components/RichText.svelte";
  import { user, fileStoragePath } from "../../store";
  import * as methods from "../../utils/request";
  import { buildURL, getInitials, getLabel } from "../../utils/view-helper";

  export let view = {};
  export let id = null;
  export let modelId = null;

  let comments = [];
  let showForm = false;
  let editingId = null;
  let commentMessage = "";
  let isSubmitting = false;

  async function loadContent() {
    const whereClause = [
      {
        name: "recordId",
        criteria: "eq",
        value: id,
      },
      {
        name: "ModelId",
        criteria: "eq",
        value: modelId,
      },
    ];

    const { data } = await methods.get(
      `/data`,
      {
        where: { AND: whereClause },
        include: [{ model: "User", as: "CreatedByUser", include: "PhotoFile" }],
        order: [["createdAt", "DESC"]],
      },
      { Model: view.Model.name }
    );
    comments = data.result;
  }

  async function submit($ev) {
    isSubmitting = true;

    const data = {
      comment: commentMessage,
      recordId: id,
      ModelId: modelId,
    };

    try {
      if (editingId) {
        await methods.put(`/data/${editingId}`, data, {
          Model: view.Model.name,
        });
      } else {
        await methods.post("/data", data, { Model: view.Model.name });
      }

      cancel();
    } catch (e) {
      console.log(e);
    }

    isSubmitting = false;
    loadContent();
  }

  function cancel($ev) {
    showForm = false;
    commentMessage = "";
    editingId = null;
  }

  function edit(comment) {
    showForm = true;
    editingId = comment.id;
    commentMessage = comment.comment;
  }

  const modalDelete = {
    item: null,
    isActive: false,
  };

  function closeModalDelete() {
    modalDelete.isActive = false;
    modalDelete.id = null;
  }

  async function confirmDelete() {
    try {
      await methods.destroy(`/data/${modalDelete.id}`, null, {
        Model: view.Model.name,
      });
    } catch (e) {
      console.error(e);
    }

    loadContent();
    closeModalDelete();
  }

  function deleteComment(comment) {
    modalDelete.isActive = true;
    modalDelete.id = comment.id;
  }

  $: if (id) {
    loadContent();
  }
</script>

<div>
  <h4 class="is-size-4 mb-4">{getLabel("Comments")}</h4>

  <div
    class="modal modal-fx-fadeInScale {modalDelete.isActive ? 'is-active' : ''}"
  >
    <div class="modal-background" />
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{getLabel("confirmRecordDelete")}</p>
        <button class="delete" aria-label="close" on:click={closeModalDelete} />
      </header>

      <!-- <section class="modal-card-body"></section> -->
      <footer class="modal-card-foot is-justify-content-center">
        <button type="button" class="button" on:click={closeModalDelete}>
          {getLabel("cancel")}
        </button>
        <button type="button" class="button is-danger" on:click={confirmDelete}>
          {getLabel("confirm")}
        </button>
      </footer>
    </div>
  </div>

  <div>
    <article class="media">
      <div class="media-left">
        {#if $user.PhotoFile}
          {@const fileURL = buildURL(
            `${$fileStoragePath || ""}/${$user.PhotoFile.id}/${
              $user.PhotoFile.label
            }`
          )}
          <div class="user-menu">
            <div>
              <figure class="image is-40x40">
                <img src={fileURL} alt="" class="is-rounded" />
              </figure>
            </div>
          </div>
        {:else}
          <div class="user-menu primary-gradient">
            <div class="user-menu-initials">
              {getInitials($user.name)}
            </div>
          </div>
        {/if}
      </div>
      <div class="media-content">
        <div class="content">
          {#if !showForm}
            <button class="input" on:click={() => (showForm = true)}
              >{getLabel("addComment")}</button
            >
          {:else}
            <form on:submit|preventDefault={submit}>
              <RichText
                enableMentions={true}
                value={commentMessage}
                minHeight={150}
                on:change={(evt) => (commentMessage = evt.detail)}
              />

              <div class="buttons mt-4">
                <button
                  type="submit"
                  class="button is-primary {isSubmitting ? 'is-loading' : ''}"
                  disabled={isSubmitting}>{getLabel("save")}</button
                >
                <button type="button" class="button is-light" on:click={cancel}
                  >{getLabel("cancel")}</button
                >
              </div>
            </form>
          {/if}
        </div>
      </div>
    </article>

    {#each comments as comment}
      <article class="media">
        <div class="media-left">
          {#if comment.CreatedByUser.PhotoFile}
            {@const fileURL = buildURL(
              `${$fileStoragePath || ""}/${
                comment.CreatedByUser.PhotoFile.id
              }/${comment.CreatedByUser.PhotoFile.label}`
            )}
            <div class="user-menu">
              <div>
                <figure class="image is-40x40">
                  <img src={fileURL} alt="" class="is-rounded" />
                </figure>
              </div>
            </div>
          {:else}
            <div class="user-menu primary-gradient">
              <div class="user-menu-initials">
                {getInitials(comment.CreatedByUser.name)}
              </div>
            </div>
          {/if}
        </div>
        <div class="media-content">
          <div class="content">
            <div>
              <strong>{comment.CreatedByUser.name}</strong>
              {#if comment.createdAt}
                <small
                  >{format(
                    new Date(comment.createdAt),
                    "dd/MM/yy HH:mm"
                  )}</small
                >
              {/if}
            </div>
            {@html comment.comment}
          </div>

          {#if comment.CreatedByUser.id === $user.id}
            <nav class="level is-mobile">
              <div class="level-left">
                <a
                  href="#/"
                  class="level-item mr-4"
                  aria-label="edit"
                  on:click|preventDefault={() => edit(comment)}
                >
                  {getLabel("edit")}
                </a>

                <a
                  href="#/"
                  class="level-item"
                  aria-label="remove"
                  on:click|preventDefault={() => deleteComment(comment)}
                >
                  {getLabel("remove")}
                </a>
              </div>
            </nav>
          {/if}
        </div>
      </article>
    {:else}
      <div class="p-4">{getLabel("noComments")}</div>
    {/each}
  </div>
</div>
