<script lang="ts">
  // import { format } from "date-fns";
  // import RichText from "../../components/RichText.svelte";
  // import { user } from "../../store";
  import Loading from "../../components/Loading.svelte";
  import * as methods from "../../utils/request";
  import { buildURL, getLabel } from "../../utils/view-helper";
  import { fileStoragePath } from "../../store";

  interface Model {
    id: string,
    name: string;
  };

  interface View {
    id: string,
    labelKey: string;
    ModelId: string;
    Model: Model;
  };

  interface Modal {
    id?: string;
    item: string;
    isActive: boolean;
  };

  export let view: View = null;
  export let id = null;
  export let modelId = null;

  let files = [];
  let filesToUpload: FileList;
  let isLoading = false;

  async function loadContent() {
    isLoading = true;

    const whereClause = [
      {
        name: "recordId",
        criteria: "eq",
        value: id,
      },
      {
        name: "ModelId",
        criteria: "eq",
        value: modelId,
      },
    ];

    const { data } = await methods.get(
      `/data`,
      {
        where: { AND: whereClause },
        include: ["File"],
        order: [["createdAt", "DESC"]],
      },
      { Model: view.Model.name }
    );

    files = data.result;
    isLoading = false;
  }

  async function uploadFiles($ev) {
    // isSubmitting = true;
    if (!filesToUpload.length) {
      return;
    }

    isLoading = true;

    const upload = new FormData();
    for (let index = 0; index < filesToUpload.length; index++) {
      upload.append("data", filesToUpload[index]);
    }

    const { data } = await methods.post("/upload", upload, {
      "Content-Type": "multipart/form-data",
    });

    const fileIds = data.result;
    for (let index = 0; index < fileIds.length; index++) {
      const link = {
        ModelId: modelId,
        recordId: id,
        FileId: fileIds[index],
      };

      await methods.post("/data", link, { Model: "FileLink" });
    }

    loadContent();
  }

  const modalDelete: Modal = {
    item: null,
    isActive: false,
  };

  function closeModalDelete() {
    modalDelete.isActive = false;
    modalDelete.id = null;
  }

  async function confirmDelete() {
    try {
      await methods.destroy(`/data/${modalDelete.id}`, null, {
        Model: view.Model.name,
      });
    } catch (e) {
      console.error(e);
    }

    loadContent();
    closeModalDelete();
  }

  function deleteFileLink(fileLink) {
    modalDelete.isActive = true;
    modalDelete.id = fileLink.id;
  }

  function formatBytes(bytes, decimals = 2) {
    if (bytes === 0) return "0 Bytes";

    const k = 1024;
    const dm = decimals < 0 ? 0 : decimals;
    const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];

    const i = Math.floor(Math.log(bytes) / Math.log(k));

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i];
  }

  $: if (id) {
    console.log({ view, id, modelId });
    loadContent();
  }
</script>

<div class="mb-2">
  <div class="mb-4 flex is-align-items-center is-justify-content-space-between">
    <h4 class="is-size-4">{getLabel("Files")}</h4>

    {#if files.length}
      <div class="file">
        <label class="file-label mt-0">
          <input
            class="file-input"
            type="file"
            multiple
            bind:files={filesToUpload}
            on:change={uploadFiles}
          />
          <span class="button">
            {getLabel("chooseFiles")}
          </span>
        </label>
      </div>
    {/if}
  </div>

  <div class="is-relative">
    <Loading shown={isLoading} />

    {#if files.length}
      <div class="columns is-multiline is-variable is-2">
        {#each files as fileLink}
          {@const fileURL = buildURL(
            `${$fileStoragePath || ""}/${fileLink.File.id}/${
              fileLink.File.label
            }`
          )}
          <div class="column is-4">
            <div class="flex is-align-items-center file-thumb">
              <span class="mr-2">
                <a
                  href={fileURL}
                  target="_blank"
                  class="image is-24x24 has-text-centered is-clipped"
                  style="font-size: 18px;"
                >
                  {#if fileLink.File.mimetype.startsWith("image")}
                    <img
                      src={fileURL}
                      title={fileLink.File.label}
                      alt={fileLink.File.label}
                      width="100%"
                      style="max-height: 100%;"
                    />
                  {:else if fileLink.File.mimetype.includes("zip") || fileLink.File.mimetype.includes("compressed")}
                    <i class="fa-solid fa-file-zipper" />
                  {:else if fileLink.File.mimetype.includes("pdf")}
                    <i class="fa-solid fa-file-pdf" />
                  {:else}
                    <i class="fa-solid fa-file" />
                  {/if}
                </a>
              </span>

              <a href={fileURL} target="_blank" class="flex-grow is-clipped">
                <span class="file-label" title={fileLink.File.label}
                  >{fileLink.File.label}</span
                >
                {#if fileLink.File.size}
                  <small>{formatBytes(fileLink.File.size)}</small>
                {/if}
              </a>

              <span>
                <button
                  class="button is-light is-danger is-small ml-2"
                  on:click={() => deleteFileLink(fileLink)}
                >
                  <i class="fa fa-trash" />
                </button>
              </span>
            </div>
          </div>
        {/each}
      </div>
    {:else}
      <div class="file is-boxed">
        <label class="file-label w-full">
          <input
            class="file-input"
            type="file"
            multiple
            bind:files={filesToUpload}
            on:change={uploadFiles}
          />
          <span class="file-cta w-full">
            <span class="file-icon">
              <i class="fas fa-upload" />
            </span>
            <span class="file-label">
              {getLabel("chooseFiles")}
            </span>
          </span>
        </label>
      </div>
    {/if}
  </div>

  <div
    class="modal modal-fx-fadeInScale {modalDelete.isActive ? 'is-active' : ''}"
  >
    <div class="modal-background" />
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{getLabel("confirmRecordDelete")}</p>
        <button class="delete" aria-label="close" on:click={closeModalDelete} />
      </header>

      <footer class="modal-card-foot is-justify-content-center">
        <button type="button" class="button" on:click={closeModalDelete}>
          {getLabel("cancel")}
        </button>
        <button type="button" class="button is-danger" on:click={confirmDelete}>
          {getLabel("confirm")}
        </button>
      </footer>
    </div>
  </div>
</div>

<style>
  .file-thumb {
    border: 1px solid #e9e9e9;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #f7f7f7;
  }

  .file-label {
    position: relative;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
</style>
