<script>
  export const view = null;
  export const id = null;
</script>

<div class="container p-3 has-text-centered">
  <svg
    id="a3470ca4-6f53-4aa4-b14b-7c93f478229e"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    viewBox="0 0 865.76 682.89"
    style="max-width: 420px"
    ><polygon
      points="520.16 563.83 536.64 584.34 554.46 571.32 540.52 545.41 520.16 563.83"
      fill="#f9b499"
    /><polygon
      points="457.2 602.34 454.35 628.5 476.17 631.89 484.62 603.71 457.2 602.34"
      fill="#f9b499"
    /><path
      d="M593.11,201.62a65.13,65.13,0,1,1,65.12-65.13A65.2,65.2,0,0,1,593.11,201.62Zm0-128.62a63.5,63.5,0,1,0,63.49,63.49A63.57,63.57,0,0,0,593.11,73Z"
      fill="#2f2e41"
    /><rect
      x="592.3"
      y="99.22"
      width="1.63"
      height="35.64"
      fill="#2f2e41"
    /><rect x="592.54" y="80.73" width="1.63" height="9.81" fill="#ccc" /><rect
      x="599.58"
      y="138.87"
      width="36.97"
      height="1.63"
      fill="#2f2e41"
    /><rect
      x="639.74"
      y="138.87"
      width="11.11"
      height="1.63"
      fill="#ccc"
    /><rect
      x="593.36"
      y="181.53"
      width="1.63"
      height="13.25"
      fill="#ccc"
    /><path
      d="M445.52,380.1l-3.36-70.53a5.46,5.46,0,0,1,5.45-5.72h97.24A5.45,5.45,0,0,1,550.3,309l4.13,75.06s.7,5.13-4.65,5.13h-127v-9.31Z"
      fill="#2f2e41"
    /><path
      d="M446.79,313l3.9,61.89a4.63,4.63,0,0,0,4.62,4.35h90.23a4.64,4.64,0,0,0,4.63-4.93l-3.89-61.78a3.74,3.74,0,0,0-3.74-3.51h-92A3.75,3.75,0,0,0,446.79,313Z"
      fill="#0071f2"
    /><path
      d="M533.56,374.88l-41.46.93a5.6,5.6,0,0,1-5.72-5.44l-1.11-40.59a4.29,4.29,0,0,1,4.41-4.41l42.58,1.15a4.57,4.57,0,0,1,4.43,4.39l1.51,39A4.75,4.75,0,0,1,533.56,374.88Z"
      fill="#f1f2f2"
    /><path
      d="M387.37,383.31l46.53,5.89a13.13,13.13,0,0,0,11.62-.83,6,6,0,0,1,6.05,3.72s1.87,4.65,5.12,3.25c0,0,2.8-.1-4.18-7.67,0,0,1.74-2.47,5.4,1.79,0,0,2.73,2.72,3.43,0,0,0,4,4.26,3.26-2.26,0,0-3.72-6.51-9.77-6.51H435.3s-25.63-15.51-40.95-17.75l-7,3.1Z"
      fill="#f9b499"
    /><path
      d="M292.38,292.46,294,280.37l-9.72-8.3-16.55,3.41-1.86,16S284.7,290.6,292.38,292.46Z"
      fill="#f9b499"
    /><path
      d="M258,297.57s2.58-5.87,7.91-6c0,0,18.14-1.16,26.51.93l1.62,6h14s5.81.24,13.25,4.42c0,0,54.64,39.41,64.76,51.27,0,0,10.35,2,9.18,6.4l-8.6,25.11S365.62,392,334,363.61c0,0-1.4,15.35,6,24.88,0,0,10,21.39,10,29.53,0,0,.47,10.93,7.44,17.44,0,0,3.49,10.47-6.27,9.77,0,0-43.95-4.82-66,0,0,0-16.28,4.5-19.3-2.82,0,0-38.6-81.62-39.3-97,0,0-39.06,12.91-43.25,11.51,0,0-10.46,1-12.55-12.2,0,0-1.45-12.72,9.87-17.9a69.71,69.71,0,0,0,9.05-5.06,50.72,50.72,0,0,1,10.83-5.61,61.67,61.67,0,0,0,10-4.21c1.62-.88,3.38-1.89,5.08-3,.9-.57,1.77-1.18,2.64-1.8C221.9,304.63,238,294.1,258,297.57Z"
      fill="#0071f2"
    /><polygon
      points="206.81 440.58 210.99 509.4 218.9 509.4 214.48 440.58 206.81 440.58"
      fill="#ccc"
    /><polygon
      points="206.81 440.58 210.99 509.4 218.9 509.4 214.48 440.58 206.81 440.58"
      opacity="0.2"
    /><path
      d="M294.24,625.2l-7.33-115.79h7.33l7.67,115.79h31.22a4,4,0,0,1,4,4h0a4,4,0,0,1-4,4h-72.4a4.17,4.17,0,0,1-4.16-4.17h0a4.17,4.17,0,0,1,4.2-4.17Z"
      fill="#ccc"
    /><path
      d="M294.24,625.2l-7.33-115.79h7.33l7.67,115.79h31.22a4,4,0,0,1,4,4h0a4,4,0,0,1-4,4h-72.4a4.17,4.17,0,0,1-4.16-4.17h0a4.17,4.17,0,0,1,4.2-4.17Z"
      opacity="0.2"
    /><circle cx="267.03" cy="643.34" r="7.56" fill="#ccc" /><circle
      cx="329.58"
      cy="644.05"
      r="7.56"
      fill="#ccc"
    /><path
      d="M487.52,606.86l6.22-65.37s17.68,17.21,19.07,21.4c0,0,.47,6.86,7.44,4.07,0,0,17.09-5.93,31-14.31l-68.36-100.1s-13.95-27.9-66.62-19.18c0,0-51.44,1.8-59.38,10l-86.88-2.76s4.91,35.09,9.31,38.48h72.15l17.72,32.79,75,4.48s-2.79,16.44,2.44,23.42c0,0,3.49,10.11-1.75,18.83,0,0-4.88,13.26,1.4,26.51,0,0,4.8,11.86,2.05,19.88,0,0-1.35,3.84,3.53,4l32.33.8A3.23,3.23,0,0,0,487.52,606.86Z"
      fill="#2f2e41"
    /><g opacity="0.2"
      ><path
        d="M493.37,539.12c-9.23,0-14.06-8.84-16.13-14.16a79.76,79.76,0,0,0-11.88-20.88c-.66-.83-1.31-1.62-1.93-2.37a61.54,61.54,0,0,0-7.9-7.76c-6.14-5.17-8.82-15.22-9.69-19.29a33.18,33.18,0,0,0-1.27-4.59c-5.36-14.62-17-15.71-17.13-15.72L383.11,447l.13-.8,44.3,7.32c.09,0,12.25,1.11,17.79,16.24a34.7,34.7,0,0,1,1.31,4.7c.85,4,3.47,13.83,9.41,18.84a62.61,62.61,0,0,1,8,7.87c.62.74,1.27,1.54,1.94,2.37a80.79,80.79,0,0,1,12,21.09c2,5.2,6.74,13.88,15.73,13.64l0,.81Z"
      /></g
    ><path
      d="M613.6,334.31s-20-6-26.9-47.16c0,0-5.86-29,12.46-41.1A24.49,24.49,0,0,1,619.32,243c8,2.26,18.48,8.79,21.84,27.15a61.5,61.5,0,0,1-1.58,28.08C635.47,312.48,626.55,336.58,613.6,334.31Z"
      fill="#2f2e41"
    /><path
      d="M634.8,346.53s-8.15-10.45,9.38-37.56c0,0,17.17-25.9,34.68-10.81,0,0,17.58,15.2-3,35.74a56.46,56.46,0,0,1-15.24,10.68C652.12,348.73,638.62,353.8,634.8,346.53Z"
      fill="#2f2e41"
    /><path
      d="M612.27,353.65l-.81-.1c5-41.8-4.72-110.13-4.82-110.82l.81-.12C607.55,243.3,617.34,311.74,612.27,353.65Z"
      fill="#ccc"
    /><path
      d="M629.53,353.81l-.91-.42c.17-.36,16.9-36,50-55.66l.51.86C646.3,318.13,629.69,353.45,629.53,353.81Z"
      fill="#ccc"
    /><rect
      x="325.63"
      y="21.1"
      width="253.22"
      height="244.15"
      rx="8.57"
      fill="#ccc"
    /><rect
      x="376.55"
      y="46.21"
      width="46.27"
      height="59.29"
      rx="2.93"
      fill="#fff"
    /><rect
      x="378.88"
      y="147.71"
      width="46.27"
      height="59.29"
      rx="2.93"
      fill="#fff"
    /><rect
      x="457.85"
      y="181.37"
      width="46.27"
      height="59.29"
      rx="2.93"
      fill="#fff"
    /><rect
      x="370.97"
      y="94.69"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#e6e7e8"
    /><rect
      x="374.46"
      y="197.94"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#a7a9ac"
    /><rect
      x="481.2"
      y="162"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#a7a9ac"
    /><rect
      x="494.67"
      y="180.9"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#2f2e41"
    /><rect
      x="528.8"
      y="214.5"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#e6e7e8"
    /><rect
      x="408.76"
      y="94.69"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#a7a9ac"
    /><rect
      x="390.5"
      y="216.55"
      width="23.02"
      height="26.16"
      rx="1.93"
      transform="translate(-56.21 163.48) rotate(-21.52)"
      fill="#2f2e41"
    /><rect
      x="472.35"
      y="47.96"
      width="46.27"
      height="59.29"
      rx="2.93"
      fill="#fff"
    /><rect
      x="512"
      y="65.34"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#e6e7e8"
    /><rect
      x="512"
      y="108.7"
      width="23.02"
      height="26.16"
      rx="1.93"
      fill="#2f2e41"
    /><path
      d="M289.59,431.28h23.53a19.66,19.66,0,0,1,19.6,18l2.67,31.85h8l-3.28-35.87A23.47,23.47,0,0,0,316.77,424H289.59Z"
      fill="#ccc"
    /><path
      d="M289.59,431.28h23.53a19.66,19.66,0,0,1,19.6,18l2.67,31.85h8l-3.28-35.87A23.47,23.47,0,0,0,316.77,424H289.59Z"
      opacity="0.2"
    /><polygon
      points="273.77 440.58 278.43 501.96 284.94 501.96 281.21 440.58 273.77 440.58"
      fill="#ccc"
    /><polygon
      points="273.77 440.58 278.43 501.96 284.94 501.96 281.21 440.58 273.77 440.58"
      opacity="0.2"
    /><path
      d="M282.44,445.38H211.92a11.89,11.89,0,0,1-11.86-11.14l-4.55-72.53a11.88,11.88,0,0,1,11.86-12.63h70a11.89,11.89,0,0,1,11.87,11.23l4.08,73.53A10.93,10.93,0,0,1,282.44,445.38Z"
      fill="#ccc"
    /><path
      d="M231,479.06H347.46a21.77,21.77,0,0,1,21.77,21.77v11a0,0,0,0,1,0,0h-160a0,0,0,0,1,0,0v-11A21.77,21.77,0,0,1,231,479.06Z"
      fill="#ccc"
    /><rect
      x="496.27"
      y="335.45"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="496.27"
      y="342.18"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="496.27"
      y="348.91"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="496.27"
      y="357.6"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="496.27"
      y="365.32"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><path
      d="M457.92,318.38l2.1,44.07a5.36,5.36,0,0,0,5.36,5.11h34.67a4,4,0,0,0,4-4.15l-1.69-43.36a6.46,6.46,0,0,0-6.45-6.2H462.24A4.33,4.33,0,0,0,457.92,318.38Z"
      fill="#f1f2f2"
      stroke="#0071f2"
      stroke-miterlimit="10"
    /><rect
      x="465.52"
      y="325.57"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="465.52"
      y="332.3"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="465.52"
      y="339.03"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="465.52"
      y="347.72"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><rect
      x="465.52"
      y="355.44"
      width="30.93"
      height="0.41"
      fill="#0071f2"
    /><circle cx="594.17" cy="138.87" r="6.16" fill="#2f2e41" /><path
      d="M529.87,579l23.39-15.13,12.2,24.43s17.3-11.06,25-4.19L547.75,611.7Z"
      fill="#2f2e41"
    /><rect
      x="545.23"
      y="597.42"
      width="50.89"
      height="5.76"
      transform="translate(-234.51 406.13) rotate(-32.89)"
      fill="#2f2e41"
    /><path
      d="M453.77,618.83h27.85l-3,27.14s20.54.1,23.29,10.06H451Z"
      fill="#2f2e41"
    /><rect
      x="451"
      y="656.03"
      width="50.89"
      height="5.76"
      fill="#2f2e41"
    /><polygon
      points="628.29 415.55 668.17 617.11 678.86 617.11 638.26 415.55 628.29 415.55"
      fill="#ccc"
    /><polygon
      points="361.2 617.11 401.66 415.55 409.11 415.55 369.23 617.11 361.2 617.11"
      fill="#ccc"
    /><rect
      x="356.93"
      y="389.2"
      width="321.92"
      height="29.91"
      fill="#ccc"
    /><rect
      x="356.93"
      y="389.2"
      width="321.92"
      height="29.91"
      opacity="0.2"
    /><path
      d="M596.89,353.6h40a0,0,0,0,1,0,0v21.74A13.86,13.86,0,0,1,623,389.2H610.75a13.86,13.86,0,0,1-13.86-13.86V353.6A0,0,0,0,1,596.89,353.6Z"
      fill="#2f2e41"
    /><path
      d="M293,287.76l.61-4.55a22,22,0,0,1-8-6.91S286.17,282.15,293,287.76Z"
      fill="#f7a48b"
    /><ellipse
      cx="299.24"
      cy="261.39"
      rx="16.86"
      ry="23.14"
      fill="#f9b499"
    /><path
      d="M293.79,256.21c-4.46,1.47-5,7.29-4.79,11.07a11.69,11.69,0,0,1-3.41,9c-4.1,3.95-9.21,3.52-13.4,2a22.87,22.87,0,0,1-11.3-9.07c-2.88-4.39-6.73-11.38-7.67-18.65a21.13,21.13,0,0,0-2.9-8c-1.39-2.36-2.13-6.19,1.41-11.61a11.45,11.45,0,0,1,2-2.16,4,4,0,0,0,1-1.56,19.59,19.59,0,0,1,6.26-8.5c2.83-2.13,6.23-3.93,8.88-3.05,0,0,5.3,1.54,8.64-.36a16.93,16.93,0,0,1,5.89-2.19c4.46-.67,11-.82,12.91,3.48,0,0,2.34,3.72,6.14,3.8a8.06,8.06,0,0,1,3.15.6c2.43,1.07,6.06,3.69,5.59,9.79a3.52,3.52,0,0,0,.92,3,4,4,0,0,1,1.52,2.61c.27,2.71-1.22,6.95-13.6,6,0,0,2.22,7.42-3.57,12A11.43,11.43,0,0,1,293.79,256.21Z"
      fill="#2f2e41"
    /></svg
  >
  
  <h1>Welcome</h1>
</div>
