<script>
  import Navbar from "./partials/Navbar.svelte";
  import { views } from "../../store";
  import customTemplates from "../custom";

  import Index from "./Index.svelte";
  import NotFound from "./NotFound.svelte";
  import ListView from "./ListView.svelte";
  import ShowView from "./ShowView.svelte";
  import FormView from "./FormView.svelte";
  import ModelFieldForm from "./ModelFieldForm.svelte";
  import ModelPermissionView from "./ModelPermissionView.svelte";
  import ViewPermissionView from "./ViewPermissionView.svelte";
  import PageLayoutView from "./PageLayoutView.svelte";
  import CommentsSection from "./CommentsSection.svelte";
  import FilesSection from "./FilesSection.svelte";
  import ReportView from "./ReportView.svelte";
  import ReportShowView from "./ReportShowView.svelte";
  import DeleteRecord from "./partials/DeleteRecord.svelte";
  import { getLabel } from "../../utils/view-helper";
  import { push, location } from "svelte-spa-router";

  export let params = {}; // params from url

  let currentView = null;
  let currentComponent = null;
  let scrollContainer;

  const components = {
    ListView,
    ShowView,
    FormView,
    ModelFieldForm,
    ModelPermissionView,
    ViewPermissionView,
    PageLayoutView,
    CommentsSection,
    FilesSection,
    ReportView,
    ReportShowView,
    ...customTemplates,
  };

  function getView() {
    if (!$views || !$views.length) {
      return;
    }

    if (params.view === undefined) {
      currentComponent = Index;
      currentView = {};
      return;
    }

    currentView = $views.find((v) => {
      if (v.slug) {
        return v.slug.replace(/\//g, "") === params.view;
      }
    });

    if (currentView) {
      // order fields
      currentView.ViewFields = currentView.ViewFields.sort(
        (a, b) => a.order - b.order,
      );
      currentComponent = components[currentView.type];
    } else {
      currentComponent = NotFound;
      currentView = {};
    }

    // for debugging (on console)
    window.CurrentView = currentView;
  }

  function onScroll($event) {
    if (
      scrollContainer.scrollTop + scrollContainer.clientHeight ===
      scrollContainer.scrollHeight
    ) {
      window.postMessage("listview-load-more");
    }
  }

  $: if (params.view) {
    getView();
  }

  views.subscribe((viewsValue) => {
    getView();
  });
</script>

<main class="flex flex-column h-full is-clipped">
  <Navbar />

  <DeleteRecord />

  <aside
    class="bg-gray-200 flex-grow has-vertical-scroll main-content p-3"
    bind:this={scrollContainer}
    on:mousewheel={onScroll}
  >
    {#if !currentView}
      <!-- Loading... -->
    {:else}
      <svelte:component
        this={currentComponent}
        view={currentView}
        id={params.id}
      />
    {/if}
  </aside>
</main>

<style>
  .main-content {
    /* margin-top: 80px; */
    width: 100vw;
    padding-bottom: 2rem !important;
  }
</style>
