<script>
  import { getLabel } from "../../utils/view-helper";
  export const view = null;
  export const id = null;
</script>

<div style="max-width: 320px; margin: 60px auto 0;">
<div class="card p-6 has-text-centered">
  <h1 class="is-size-1">
    <i class="far fa-frown" />
  </h1>

  <p class="is-size-4">{getLabel("pageNotFound")}</p>
</div>
</div>
