<script lang="ts">
  import ChartResult from "../../components/report/chart-result.svelte";
  import SingleResult from "../../components/report/single-result.svelte";
  import { get } from "../../utils/request";

  export let id: string;
  let report = [];
  let config = null;

  async function loadReport() {
    const { data } = await get(`/reports/${id}`, { mode: "summary|table" });
    report = data.result;
    config = data.config;
    console.log({ report, config });
  }

  loadReport();
</script>

<div class="card p-4">
  {#if config}
    <h1 class="is-size-3">{config?.label}</h1>
    <!-- <div class="columns">
      <div class="column is-4">
        {#if config.viewType === "chart"}
          <ChartResult reportId={id} />
        {:else if config.viewType === "single-number"}
          <SingleResult reportId={id} />
        {/if}
      </div>
    </div> -->

    <div class="table-responsive">
      <table class="table w-full">
        <thead>
          <tr>
            {#each config.data_columns as col}
            <th>{col}</th>
            {/each}
          </tr>
        </thead>
        <tbody>
          <tr>
            {#each config.data_columns as col}
            <td>{col}</td>
            {/each}
          </tr>
        </tbody>
      </table>
    </div>
  {/if}
</div>
