<script>
  import Layout from './Layout.svelte'
  import Notification from '../../components/Notification.svelte'
  import { post } from '../../utils/request'
  import { user, authToken } from '../../store'
  import { push } from 'svelte-spa-router'

  const resetForm = {
    locked: false,
    isSuccess: false,
    messages: [],
    email: null,
  }

  function submit ($event) {
    $event.preventDefault()
    resetForm.locked = true

    post('/sendPasswordResetMail', { email: resetForm.email }, null, false)
      .then(response => {
        resetForm.isSuccess = true
        resetForm.messages = []
      })
      .catch(error => {
        resetForm.messages = error.response.data.messages
      })
      .finally(() => {
        resetForm.locked = false
      })
  }
</script>

<div class="h-screen container is-fluid has-background-white">
  <div class="flex items-center justify-center h-full">
    <div class="w-340px">
      <h3 class="mb-4">Informe seu e-mail e se ele for encontrado em nossa base de dados, enviaremos instruções para redefinição de senha</h3>

      <form on:submit={submit}>
        <div class="mb-4">
          <input bind:value={resetForm.email} class="input" id="email" type="email" placeholder="E-mail" autocomplete="username">
        </div>

        {#if resetForm.isSuccess}
          <div class="notification is-primary">Enviamos para seu e-mail instruções de redefinição de senha</div>
        {/if}

        <Notification messages={resetForm.messages} />

        <div class="has-text-centered">
          <button disabled={resetForm.locked} class="button mb-4 is-medium is-fullwidth is-uppercase is-link has-text-weight-medium" type="submit">Recuperar Senha</button>
          <a class="link is-link is-light" href="#/login">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
