<script>
  import Layout from './Layout.svelte'
  import Notification from '../../components/Notification.svelte'
  import { post } from '../../utils/request'
  import { push } from 'svelte-spa-router'
  export let params = {}

  const form = {
    locked: false,
    isSuccess: false,
    messages: [],
    password: null,
  }

  function submit ($event) {
    $event.preventDefault()
    form.locked = true

    post('/setPassword', { password: form.password, token: params.token }, null, false)
      .then(response => {
        form.isSuccess = true
        form.messages = []
      })
      .catch(error => {
        form.messages = error.response.data.messages
      })
      .finally(() => {
        form.locked = false
      })
  }
</script>

<div class="h-screen container is-fluid has-background-white">
  <div class="flex items-center justify-center h-full">
    <div class="w-340px">
      <h1 class="mb-4">Informe sua nova senha abaixo</h1>

      <form on:submit={submit}>
        <div class="mb-4">
          <input bind:value={form.password} class="input" id="password" type="password" placeholder="Senha">
        </div>

        {#if form.isSuccess}
          <div class="notification is-primary">
            Senha atualizada!<br>
            <a class="link is-link is-light" href="#/login">Entrar</a>
          </div>
        {/if}

        <Notification messages={form.messages} />

        <div class="has-text-centered">
          <button disabled={form.locked} class="button mb-4 is-medium is-fullwidth is-uppercase is-warning has-text-weight-medium has-text-grey-dark" type="submit">Definir Senha</button>
        </div>
      </form>
    </div>
  </div>
</div>
