<script>
  import SyncSelect from "../../components/SyncSelect.svelte";
  import { get, post, destroy } from "../../utils/request";

  import { getLabel } from "../../utils/view-helper";

  export let view;
  export const id = null;

  let currentRole = null;
  let views = [];
  let permissionsByView = {};

  const roleViewField = {
    labelKey: "RoleId",
    descriptionColumn: "labelKey",
    ModelField: {
      name: "RoleId",
      targetModel: "Role",
      targetModelAlias: "Role",
      type: "belongsTo",
    },
  };

  async function getViews() {
    get("/data", {}, { Model: "View" }, true)
      .then(({ data }) => {
        views = data.result;
      })
      .catch((error) => {});
  }

  async function getRolePermission() {
    permissionsByView = {};
    if (!currentRole) {
      return;
    }


    const { data } = await get(
      "/data",
      {
        where: {
          AND: [{ name: "RoleId", criteria: "eq", value: currentRole }],
        },
      },
      { Model: "ViewPermission" },
      true
    );

    for (let index = 0; index < data.result.length; index++) {
      const perm = data.result[index];
      permissionsByView[perm.ViewId] = perm.id;
    }
  }

  function onSubmit(ev) {
    ev.preventDefault();
    getViews();
    getRolePermission();
  }

  async function update(view, checked, permissionId) {
    if (!currentRole || !view) {
      return;
    }

    if (checked) {
      await post(
        "/data",
        { ViewId: view, RoleId: currentRole },
        { Model: "ViewPermission" }
      );
    } else {
      await destroy(`/data/${permissionId}`, {}, { Model: "ViewPermission" });
    }
  }
</script>

<svelte:head>
  {#if view}
    <title>{getLabel(view)}</title>
  {/if}
</svelte:head>

<div class="container">
  {#if view}
    <div class="card p-4 mb-4 flex is-align-items-center">
      {#if view.Model.icon}
        <div
          class="model-icon mr-4 is-size-5"
          style={view.Model.color
            ? `background-color: ${view.Model.color};`
            : ""}
        >
          <i class="fa fa-{view.Model.icon}" />
        </div>
      {/if}

      <div>
        <h3 class="is-size-6">{getLabel(view)}</h3>
      </div>

      <div class="flex-grow" />
    </div>
  {/if}

  <form on:submit={onSubmit}>
    <div class="card p-4 is-align-items-center">
      <div class="columns">
        <div class="column is-4">
          <label class="label" for="field_RoleId" title={getLabel("RoleId")}
            >{getLabel("RoleId")}</label
          >
          <SyncSelect
            field={roleViewField}
            id="field_RoleId"
            value={currentRole}
            on:change={(e) => (currentRole = e.detail)}
          />
        </div>

        <div class="column">
          <span class="label">&nbsp;</span>
          <button class="button is-link" type="submit"
            >{getLabel("search")}</button
          >
        </div>
      </div>

      <table class="table w-full mt-4">
        <thead>
          <tr>
            <th>{getLabel("name")}</th>
            <th>{getLabel("slug")}</th>
            <th>{getLabel("type")}</th>
            <th class="has-text-centered">Can access</th>
          </tr>
        </thead>

        <tbody>
          {#each views as view}
            <tr>
              <td>{getLabel(view.labelKey)}</td>
              <td>{view.slug}</td>
              <td>{view.type}</td>
              <td class="has-text-centered">
                <label class="checkbox">
                  <input
                    type="checkbox"
                    id="field_{view.name}"
                    name="field_{view.name}"
                    checked={permissionsByView[view.id]}
                    value={permissionsByView[view.id]}
                    on:change={($ev) =>
                      update(view.id, $ev.target.checked, $ev.target.value)}
                  />
                </label>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </form>
</div>
