<script>
  import Router, { push, replace } from "svelte-spa-router";
  import { routes } from "./routes";
  import { get } from "./utils/request";
  import {
    authToken,
    user,
    isSessionEmulated,
    views,
    labels,
    organizations,
    currentOrganization,
    message,
    fileStoragePath,
  } from "./store";

  let hasLoadedMetadata = false;

  function conditionsFailed(event) {
    if (event.detail.routeIsPrivate && event.detail.userIsLoggedIn === false) {
      replace("/login");
    }
  }

  function loadMetadata() {
    const storedOrganizationId = localStorage.getItem("currentOrganizationId");

    get("/metadata")
      .then(({ data }) => {
        views.set(data.views);
        labels.set(data.labels);
        user.set(data.user);
        isSessionEmulated.set(data.isSessionEmulated);
        organizations.set(data.organizations);
        fileStoragePath.set(data.fileStoragePath);

        if (data.user === null) {
          authToken.set(null);
          localStorage.removeItem("user");
          localStorage.removeItem("authToken");
          push("/login");
          hasLoadedMetadata = true;
          return;
        }

        let org = data.user.DefaultOrganizationId;
        if (
          storedOrganizationId &&
          storedOrganizationId === data.organizations[0].Organization.id
        ) {
          org = storedOrganizationId;
        } else if (!org) {
          org = data.organizations[0].Organization.id;
        }

        currentOrganization.set(org);

        localStorage.setItem("user", JSON.stringify($user));
        localStorage.setItem("currentOrganizationId", org);

        window.CurrentMetadata = data;
        window.CurrentOrganizationId = org;
        // hasLoadedMetadata = true;
      })
      .catch(console.error)
      .finally(() => {
        hasLoadedMetadata = true;
      });
  }

  // Update Metadata as needed
  window.onmessage = function ({ data }) {
    if (data === "update-metadata") {
      loadMetadata();
    }
  };

  loadMetadata();

  const localUser = localStorage.getItem("user");
  const localToken = localStorage.getItem("authToken");
  authToken.set(localToken);
  if (localUser) {
    user.set(JSON.parse(localUser));
  }
</script>

{#if $message}
  <div class="global-notification notification {$message.type}">
    <button class="delete" on:click={() => message.set(null)} />
    {$message.message}
  </div>
{/if}

<!-- {#if hasLoadedMetadata} -->
<Router {routes} on:conditionsFailed={conditionsFailed} />

<!-- {:else}
  <div class="flex h-full is-justify-content-center is-align-items-center">
    <i class="fa fa-spinner fa-spin is-size-3"></i>
  </div>
{/if} -->
<style>
  .global-notification {
    position: fixed;
    top: 60px;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    z-index: 50;
    box-shadow: 0 6px 14px #bbb;
  }
</style>
