<script lang="ts">
  import { get } from "../../utils/request";

  export let reportId: string;
  let report = null;
  let isLoading = true;

  const loadData = async () => {
    try {
      const { data } = await get(`/reports/${reportId}`, { mode: 'summary' });
      report = data;
    } catch (e) {}
    isLoading = false;
  };

  loadData();
</script>

<div class="card p-4">
  {#if report?.config}
    {#if report?.config?.viewType === "single-number" && report?.result?.summary?.[0]}
      <p class="is-size-1 has-text-weight-bold">
        {report.result.summary[0].summarized}
      </p>
    {/if}
    <p class="is-size-5">{report?.config?.label}</p>
  {:else if isLoading}
    <p>Carregando...</p>
  {:else}
    <p>Erro ao carregar as informações</p>
  {/if}
</div>
